header(class="swiper-slider")
  h2(class="swiper-slider__title") Портфолио
  a(href="#" class="swiper-slider__porfolio-link") Смотреть портфолио
div(class="swiper-slider__js swiper-container") 
  div(class="swiper-slider__slider-wrap swiper-wrapper")
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap") 
        h3(class="swiper-slider__item-title") Домашний кинотеатр с изюминкой
        picture(class="swiper-slider__picture") 
          source(srcset="img/portfolio_2-1(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-1(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          source(srcset="img/portfolio_2-1(300x360).jpg" type="image/jpeg", media="(max-width: 320px)")
          img(class="swiper-slider__img", src="img/portfolio_2-1(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем. 
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Роскошный автомобиль с «умным салоном»
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-2(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-2(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-2(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Гостиная-кинотеатр
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-3(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-3(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-3(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Кинотеатр на крыше
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-4(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-4(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-4(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома  и не имеет окон.
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Домашний кинотеатр с изюминкой
        picture(class="swiper-slider__picture") 
          source(srcset="img/portfolio_2-1(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-1(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          source(srcset="img/portfolio_2-1(300x360).jpg" type="image/jpeg", media="(max-width: 320px)")
          img(class="swiper-slider__img", src="img/portfolio_2-1(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем. 
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Роскошный автомобиль с «умным салоном»
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-2(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-2(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-2(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Гостиная-кинотеатр
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-3(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-3(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-3(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Кинотеатр на крыше
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-4(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-4(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-4(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома  и не имеет окон.
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Гостиная-кинотеатр
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-3(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-3(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-3(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.
    section(class="swiper-slide swiper-slider__item")
      div(class="swiper-slider__wrap")  
        h3(class="swiper-slider__item-title") Кинотеатр на крыше
        picture(class="swiper-slider__picture")  
          source(srcset="img/portfolio_2-4(410x540).jpg" type="image/jpeg", media="(max-width: 1280px)")
          source(srcset="img/portfolio_2-4(270x360).jpg" type="image/jpeg", media="(max-width: 600px)")
          img(class="swiper-slider__img", src="img/portfolio_2-4(410x540).jpg", alt="proosal-one")
        p(class="swiper-slider__text") Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома  и не имеет окон.
  div(class="swiper-slider__slider-nav swiper-pagination")
  div(class="swiper-slider__link-wrap")
    a(href="#" class="swiper-slider__exit-link") Заказать выезд специалиста
    a(href="#" Class="swiper-slider__order-link") Заказать проектирование
div(class="swiper-slider__nav-btn-wrap")
  div(class="swiper-button-next")
    span(class="visually-hidden") вперед
  div(class="swiper-button-prev")
    span(class="visually-hidden") назад