<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Алексей Савинов
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    include components/_slider.pug
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="js/main-dist.js")
