* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input,
textarea,
fieldset {
 border: none;
}

address {
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  font-family: $font-family-global;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: $screen-mobile) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
  
@media (min-width: $screen-table) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: $screen-desktop) {
  body {
    padding-left: 80px;
    padding-right: 80px;
  }
}