$screen-mobile: 600px;
$screen-table: 1280px;
$screen-desktop: 1920px;

$font-family-global: 'Futura PT', Arial, sans-serif;

$color-bg-white: #ffffff;       
$color-bg-gold: #A89365;       
$color-bg-grey: #F2F2F2;

$color-text-white: #ffffff;       
$color-text-gold: #A89365;
$color-text-grey:#575757;


$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 36px;
$font-size-xxxl: 48px;
